<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ serverapp_olivetin_label }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ serverapp_olivetin_bin_path }}</string>
        <string>-configdir</string>
        <string>{{ serverapp_olivetin_config_dir }}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>{{ serverapp_olivetin_config_dir }}</string>
    <key>StandardOutPath</key>
    <string>{{ serverapp_olivetin_logs_dir }}/olivetin.log</string>
    <key>StandardErrorPath</key>
    <string>{{ serverapp_olivetin_logs_dir }}/olivetin.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ serverapp_olivetin_home }}</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
