<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ openobserve_label }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ openobserve_bin_path }}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{ conf_dir }}/logs/openobserve.log</string>
    <key>StandardErrorPath</key>
    <string>{{ conf_dir }}/logs/openobserve.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ lookup('env', 'HOME') }}</string>
        <key>ZO_ROOT_USER_EMAIL</key>
        <string>{{ openobserve_root_email }}</string>
        <key>ZO_ROOT_USER_PASSWORD</key>
        <string>{{ openobserve_root_password }}</string>
        <key>ZO_DATA_DIR_PATH</key>
        <string>{{ openobserve_data_dir }}</string>
        <key>ZO_HTTP_PORT</key>
        <string>{{ openobserve_port }}</string>
        <key>ZO_BIND_ADDRESS</key>
        <string>127.0.0.1</string>
    </dict>
</dict>
</plist>
