<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.stayturgid.update-monitor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/env</string>
        <string>python3</string>
        <string>{{ stayturgid_repo_root | realpath }}/control/bin/update_monitor.py</string>
        <string>--repo-root</string>
        <string>{{ stayturgid_repo_root | realpath }}</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOMEBREW_NO_AUTO_UPDATE</key>
        <string>1</string>
    </dict>
    <!-- Run every 12 hours (43200 seconds) to avoid GitHub rate limits -->
    <key>StartInterval</key>
    <integer>43200</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{ conf_dir }}/logs/update_monitor.log</string>
    <key>StandardErrorPath</key>
    <string>{{ conf_dir }}/logs/update_monitor.err</string>
</dict>
</plist>
